.container {
  min-width: 100%;
  min-height: 100%; 
  padding: 2rem;
  display: flex;
}
.main {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0.25em 0.25rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 3rem;
  margin: auto;
}
.logoContainer {
  position: relative;
  max-width: 429px;
  width: 100%;
  aspect-ratio: 5.8367346939;
}
.price {
  font-size: 1rem;
  line-height: 1em;
}
.status {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.action {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.action a {
  text-decoration: underline;
}
.action a:hover {
  text-decoration: none;
}
.error {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: rgba(255, 0, 0, 1);
}